* {
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p {
  color: wheat;
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  position: relative;
  white-space: nowrap;
}

p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  right: 0;

  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0),
    rgba(34, 34, 34, 1) 80%
  );
}

p::after {
  content: "https://www.youtube.com/watch?v=F8sza6q-L1Q";
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  grid-column-end: span;
  grid-auto-flow: dense;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  content: "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
  display: block;
  empty-cells: show;
  height: 100%;
  inset: 1;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  align-self: start;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: inherit;
  animation-delay: calc(8);
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timeline: 1;
  appearance: "https://www.youtube.com/watch?v=Jmw1_t2aMK4";
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: default;
  display: block;
  empty-cells: show;
  flex-wrap: nowrap;
  flex-grow: inherit;
  flex-direction: column-reverse;
  flex-basis: 3;
  justify-content: baseline;
  align-items: unset;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  animation-name: "https://www.youtube.com/watch?v=aj10Ab6Cws8";
  grid-area: span;
  grid-column-end: span;
  grid-auto-flow: dense;
  grid-auto-flow: dense;
}
